.wrapper {
    font-family: Roboto, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

form > * {
    margin-bottom: 16px;
}

input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

legend {
    color: grey;
    font-size: smaller;
}

fieldset {
    border: 1px solid grey;
    border-radius: 7px;
}

button {
    font-family: monospace;
    color: grey;
    width: 100%;
    padding: .5em;
    border: 1px solid grey;
    border-radius: 7px;
    background-color: transparent;
}

.results {
    text-align: center;
}

p {
    color: grey;
}

.wrapper > * {
    margin: 1em;
}
