html {
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    font-family: Roboto, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.gallery > img {
    height: 25vh;
    width: 20vw;
    box-sizing: border-box;
    object-fit: cover;
    flex-basis: calc(60% / 2);
}

.gallery > img:hover {
    border: 1vh solid lightgreen;
}

.gallery {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5vh 0;
}

.output {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.output > * {
    display: none;
}

.output img {
    width: 100%;
}

a {
    color: black;
}